﻿@model CmsShop.Models.ViewModels.Shop.ProductVM

@{ ViewBag.Title = "Dodaj Produkt"; }

<h2>Dodaj Produkt</h2>


@if (TempData["SM"] != null)
{
<div class="alert alert-success">
    @TempData["SM"]
</div>}

@using (Html.BeginForm("AddProduct", "Shop", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
@Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Kategoria</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.CategoryId, Model.Categories, "Wybierz Kategorie", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Zdjecie</label>
                        <div class="col-md-10">
                            <input type="file" name="file" id="ImageUpload" />
                            <img id="imgpreview" src="#" />
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Dodaj Produkt" class="btn btn-default" />
                        </div>
                    </div>
                </div>}

<div>
    @Html.ActionLink("Powrót do Listy Produktów", "Products")
</div>


@section scripts {

    <script>

        $(function () {

            /*
            Preview for Adding Picture(Dodanie Zdjecia)
            */

            function readURL(input) {

                if (input.files && input.files[0]) {  //check if inut file existing
                    var reader = new FileReader(); //if exist make a filereader variable

                    //file is loading to reader
                    reader.onload = function (e) {
                        $("img#imgpreview").attr("src", e.target.result).width(200).height(200);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            //invoke readURL method
            $("#ImageUpload").change(function () {
                readURL(this);
            })
        });

    </script>
}