﻿@model IEnumerable<CmsShop.Models.ViewModels.Shop.CategoryVM>

@{ ViewBag.Title = "Sklep kategorie"; }

<h2>Sklep kategorie</h2>

<div class="new-cat">
    <input type="text" id="newcatname" />
    <p>
        <a href="#" id="newcata">Dodaj Nową Kategorię</a>

        <span class="ajax-text">
            <img src="~/Content/img/ajax-loader.gif" />
        </span>
    </p>
</div>

@if (!Model.Any())
{
    <h1 class="text-center">Niema żadnych kategorii.</h1> }
else
{
    <table class="table sorting categories" id="pages">
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Akcja
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    <div class="ajaxdivtd"></div>
                    @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
                <td>
                    @Html.ActionLink("Usuń", "DeleteCategory", new { id = item.Id }, new { @class = "delete" })
                </td>
            </tr>
        }

    </table>}

@section scripts {

    <!--loading scripts from jquery scripts-->
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>


    <script>

        $(function () {

            /*
            * Adding a new Category
            */


            //declare  new variables. its refers to tag a with href="#" and with id="newCata"
            //line 13 <a href="#" id="newCata">Dodaj Nową Kategorie</a>
            var newCatA = $("a#newcata");
            //from lines 11 :  <input type="text" id="newCatName" />
            var newCatTextInput = $("#newcatname");
            //refer to loader
            var ajaxText = $("span.ajax-text");
            var table = $("table#pages tbody");

            //adding key Enter event press
            newCatTextInput.keyup(function (e) {
                if (e.keyCode == 13) { //if Enter is press?
                    newCatA.click();
                }
            })

            //odcinek 24. odcinek 5
            //adding event to newCatA.click cilick
            newCatA.click(function (e) {
                e.preventDefault();

                //couding Adding a new Category:

                var catName = newCatTextInput.val(); //get value from newCatTextInput Input(text)

                //we can ony add category with more then two char
                //Check below requirement
                if (catName.length < 2) {
                    alert("Nazwa ketegorii musi mieć conajmniej 2 znaki!");
                    return false
                }

                //else ...ok
                //Show loader
                ajaxText.show();

                var url = "/admin/shop/AddNewCategory"


                //save category to DB by asynchronisly ajax
                $.post(url, { catName: catName }, function (data) {

                    var response = data.trim();  //clear clarity of data input

                    if (response == "tytulzajety") {
                        ajaxText.html("<span class='alert alert-danger'>Ten tytuł już jest zajęty!</span>")
                        setTimeout(function () {
                            ajaxText.fadeOut("fast", function () {
                                ajaxText.html("<img src=/Content/img/ajax-loader.gif />");
                            });
                        }, 2000);
                        return false;
                    } else {
                        if (!$("table#pages").length) {
                            location.reload();
                        }
                        else {
                            ajaxText.html("<span class='alert alert-success'>Kategoria została dodana</span>")
                            setTimeout(function () {
                                ajaxText.fadeOut("fast", function () {
                                    ajaxText.html("<img src=/Content/img/ajax-loader.gif />");
                                });
                            }, 2000);

                            newCatTextInput.val(""); //clear this value(we can  add next new category in next input(TIME))

                            //Display this category(code)
                            var toAppend = $("table#pages tbody tr:last").clone(); //cloning row
                            toAppend.attr("id", "id_" + data) // we set attribute id to id_ + data
                            toAppend.find("#item_Name").val(catName); //we find element item_Name and set a value catName
                            toAppend.find("a.delete").attr("href", "/admin/shop/DeleteCategory/" + data);
                            table.append(toAppend);
                            table.sortable("refresh");


                        }
                    }
                })
            })


            ///////////////////////////////////////////////////////////////////////



            /*
            * Sorting Category
            */
            $("table#pages tbody").sortable({
                items: "tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#pages tbody").sortable("serialize");
                    var url = "/Admin/Shop/ReorderCategories";

                    $.post(url, ids, function (data) {
                    });
                }
            });



            ///////////////////////////////////////////////////////////////////////




            /*
            * Confirmation delete Categories
            */


            $("body").on("click", "a.delete", function () {
                if (!confirm("Potwierdz usunięcie kategorii")) return false;
            });



            ///////////////////////////////////////////////////////////////////////




            /*
            * Change Category Name
            */

            var orginalTextBoxValue;

            $("table#pages input.text-box").dblclick(function () {
                orginalTextBoxValue = $(this).val(); //assign value to variable from orginal text-box
                $(this).attr("readonly", false); //unlock text-box. Edit mode On
            });

            //key event to tap enter
            $("table#pages input.text-box").keyup(function (e) {
                if (e.keyCode == 13) { //check if enter is tapping
                    $(this).blur(); //asign blur effect
                }
            });

            $("table#pages input.text-box").blur(function () {

                var $this = $(this);
                var ajaxdiv = $this.parent().find(".ajaxdivtd");//refer to div
                var newCatName = $this.val(); //value from this(text-box)
                var id = $this.parent().parent().attr("id").substring(3);  //we get only id from "id_item.Id" format
                var url = "/admin/shop/RenameCategory";  //url

                //validate
                if (newCatName.length < 2) {
                    alert("Nazwa kategorii musi mieć conajmniej 2 znaki");
                    $this.attr("readonly", true); //t
                    return false;
                }

                /*
                * else...
                * post method(we redirect to ShopController to RenameCategory Action )
                */
                $.post(url, { newCatName: newCatName, id: id }, function (data) {

                    var response = data.trim();

                    if (response == "tytulzajety") {
                        $this.val(orginalTextBoxValue);
                        ajaxdiv.html("<span class='alert alert-danger'>Ta kategoria jest zajęty!</span>").show();
                    } else {
                        ajaxdiv.html("<span class='alert alert-success'>Nazwa kategorii została zmieniona!</span>").show();
                    }
                    /*
                    *adding animation(optional)
                    */
                    setTimeout(function () {
                        ajaxdiv.fadeOut("fast", function () {
                            ajaxdiv.html("");
                        });
                    }, 2000);
                }).done(function () {
                    $this.attr("readonly", true);
                });
            });




            ///////////////////////////////////////////////////////////////////////
        });

    </script>

}