﻿@model IEnumerable<CmsShop.Areas.Admin.Models.ViewModels.Shop.OrdersForAdminVM>

@{
    ViewBag.Title = "Zamównienia";
}

<h2>Zamównienia</h2>

@if (!Model.Any())
{
    <h3 class="text-center">Nie ma żadnych zamówień</h3>
}
else
{
    <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
            <table id="zamowiania" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Numer zamówienia
                        </th>
                        <th>
                            Nazwa użytkownika
                        </th>
                        <th>
                            Szczegóły zamówienia
                        </th>

                        <th>
                            Data zamówienia
                        </th>
                        <th>
                            Wartość
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @foreach (var item2 in item.ProductsAndQty)
                                {
                                    @item2.Key @:x @item2.Value <br />
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateAt)
                            </td>
                            <td>
                                $@Html.DisplayFor(modelItem => item.Total)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            Numer zamówienia
                        </th>
                        <th>
                            Nazwa użytkownika
                        </th>
                        <th>
                            Szczegóły zamówienia
                        </th>

                        <th>
                            Data zamówienia
                        </th>
                        <th>
                            Wartość
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
    </div> <!-- /.box -->
}

@section scripts {
    <script>MVCDataTableJqueryBootStrap = {

            init: function () {
                this.initDataTable();
            },

            initDataTable: function () {
                var table = $('#zamowiania').DataTable({
                    "language": {
                        "sProcessing": "Przetwarzanie...",
                        "sLengthMenu": "Pokaż _MENU_ pozycji",
                        "sZeroRecords": "Nie znaleziono pasujących pozycji",
                        "sInfoThousands": " ",
                        "sInfo": "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
                        "sInfoEmpty": "Pozycji 0 z 0 dostępnych",
                        "sInfoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                        "sInfoPostFix": "",
                        "sSearch": "Szukaj:",
                        "sUrl": "",
                        "oPaginate": {
                            "sFirst": "Pierwsza",
                            "sPrevious": "Poprzednia",
                            "sNext": "Następna",
                            "sLast": "Ostatnia"
                        }
                    }
                });


                MVCDataTableJqueryBootStrap.returnDataTable = function () {
                    return table;
                }
            },
        };

        $(function () {
            MVCDataTableJqueryBootStrap.init();
        });</script>
}

