﻿@model IEnumerable<CmsShop.Models.ViewModels.Cart.CartVM>

@{
    ViewBag.Title = "Koszyk szczegóły";
    int count = 1;
}

<h2>Koszyk szczegóły</h2>

@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}
else
{
    <div class="ajaxbg">
        <span>
            <img src="~/Content/img/ajax-loader.gif" />
        </span>
    </div>

    <table class="table">
        <tr>

            <th>
                Nazwa
            </th>
            <th>
                Ilość
            </th>
            <th>
                Cena
            </th>
            <th>
                Zdjęcie
            </th>
            <th>
                Zmień ilość
            </th>
            <th>
                Wartość
            </th>
            <th>

            </th>


        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td class="qty@(item.ProductId)">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) zł.
                </td>
                <td>
                    <img src="/Images/Uploads/Products/@item.ProductId/Thumbs/@item.Image" />
                </td>
                <td>
                    <a href="#" class="incrproduct" data-id="@item.ProductId">+</a>
                    <a href="#" class="decrproduct" data-id="@item.ProductId">-</a>
                    <a href="#" class="removerproduct" data-id="@item.ProductId">Usuń</a>
                </td>
                <td class="total@(item.ProductId)">
                    @Html.DisplayFor(modelItem => item.Total) zł.
                </td>

            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="grandtotal"><b>Razem : </b><span>@ViewBag.GrandTotal</span>zł.</td>
        </tr>

    </table>

    <div class="paypaldiv">
        <form class="paypalform" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="upload" value="1">
            <input type="hidden" name="business" value="sb-odiaf3737164@personal.example.com">

            @foreach (var item in Model)
            {
                <input type="hidden" name="item_name_@count" value="@item.ProductName">
                <input type="hidden" name="amount_@count" value="@item.Price">
                <input type="hidden" name="quantity_@count" value="@item.Quantity">count++;
            }

            <input type="hidden" name="currency_code" value="PLN">
            <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Dokonuj płatności w systemie PayPal - jest szybki, bezpłatny i bezpieczny!">
        </form>
    </div>


    <a href="#" class="placeorder btn btn-primary pull-right">Zapłać</a>
}

@section scripts{


    <script>


        $(function () {

            /*
             *Incrementation quantity  (amount) od product in Cart
            */


            $("a.incrproduct").click(function (e) {

                e.preventDefault();
                var productId = $(this).data("id");
                var url = "/cart/IncrementProduct";

                //callback funcion!!!
                $.getJSON(url, { productId: productId }, function (data) {

                    //modyfication quantity
                    $("td.qty" + productId).html(data.qty);

                    var price = data.qty * data.price;
                    var priceHtml = price.toFixed(2) + "zł.";
                    //modyfy price
                    $("td.total" + productId).html(priceHtml);

                    var gt = parseFloat($("td.grandtotal span").text());
                    var grandtotal = (gt + data.price).toFixed(2);

                    //modify
                    $("td.grandtotal span").text(grandtotal);
                    }).done(function (data) {
                        var url2 = "/cart/PaypalPartial";

                        $.get(url2, { }, function (data) {

                            $('div.paypaldiv').html(data);
                        });
                    });
                });

            ////////////////////////////////////////////////////////////

            /*
            *Decrement quantity  (amount) od product in Cart
            */
            $("a.decrproduct").click(function (e) {

                e.preventDefault();
                var $this = $(this);
                var productId = $(this).data("id");
                var url = "/cart/DecrementProduct";

                $.getJSON(url, { productId: productId }, function (data) {

                    //if quantity is 0 clear poduct from cart
                    if (data.qty == 0) {
                        $this.parent().parent().fadeOut("fast", function () {
                            location.reload();
                        })
                    }
                    else {
                        $("td.qty" + productId).html(data.qty);

                        //get like a caalback from controller(data value)
                        var price = data.qty * data.price;
                        var priceHtml = price.toFixed(2) + " zł.";

                        $("td.total" + productId).html(priceHtml);

                        var gt = parseFloat($("td.grandtotal span").text());
                        var grandtotal = (gt - data.price).toFixed(2);

                        $("td.grandtotal span").text(grandtotal);
                    }
                    }).done(function (data) {
                        var url2 = "/cart/PaypalPartial";

                    $.get(url2, { }, function (data) {
                        $('div.paypaldiv').html(data);
                    });
                });
            });
            ///////////////////////////////////////////////////////////

            /*
             *Delete product from a cart
             */
                $("a.removerproduct").click(function (e) {

                    e.preventDefault();
                    var $this = $(this);
                    var productId = $(this).data("id");
                    var url = "/cart/RemoveProduct";

                    $.get(url, { productId: productId }, function (data) {
                        //reload cart(page)
                        location.reload();
                    });

                });

            /////////////////////////

            /*
                *Place order action
            */
            $("a.placeorder").click(function (e) {
                e.preventDefault();

                var $this = $(this);
                var url = "/cart/PlaceOrder";

                $(".ajaxbg").show();

                $.post(url, {}, function (data) {

                    $(".ajaxbg span").text("Dziękuje złozenie zamówienia. Zostaniesz teraz przekierowany do systemu PayPal. ");
                    setTimeout(function () {
                        $('form input[name="submit"]').click();
                    }, 2000);
                });
            });

            ////////////////////////////////////////////////////////////////////////
        });


    </script>
}