﻿@model CmsShop.Models.ViewModels.Shop.ProductVM

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<br />

<div class="row">

    <div class="col-xs-12 col-md-4">
        <img src="/Images/Uploads/Products/@Model.Id/Thumbs/@Model.ImageName" />
    </div>

    <div class="col-xs-12 col-md-8">
        @Html.DisplayFor(model => model.Description)
        <br />
        @Html.DisplayFor(model => model.Price)
        <br />

        @if (Request.IsAuthenticated)
        {
            <div class="addtocart">
                <a href="#" class="addtocart">Dodaj do koszyka</a>
                <span class="loader">
                    <img src="~/Content/img/ajax-loader.gif" />
                </span>
                <span class="ajaxmsg">
                    Ten produkt został dodany do koszyka.
                </span>
            </div>
        }

    </div>

</div>

<hr />

<div>
    <h3>Zdjecia Produktu</h3>

    <div class="col-xs-12 fancyboxdiv">
        <br />
        <br />
        @foreach (var image in Model.GalleryImages)
        {
            <div style="display: inline-block">
                <a class="fancybox" rel="gallery1" href="/Images/Uploads/Products/@Model.Id/Gallery/@image">
                    <img src="/Images/Uploads/Products/@Model.Id/Gallery/Thumbs/@image" />
                </a>
            </div>
        }
    </div>

</div>

<!--Css for fancybox-->
<link href="~/Content/jquery.fancybox.css" rel="stylesheet" />

@section scripts{

    <script src="~/Scripts/jquery.fancybox.js"></script>

    <script>
        $(function () {

        /*
        * Fancybox
        */

            $(".fancybox").fancybox();

        /*
        * Adding to Cart
        */

            $("a.addtocart").click(function (e) {

                e.preventDefault();  //block default behavior
                $("span.loader").addClass("ib");  //loader start

                var url = "/cart/AddToCartPartial";

                //request Get to add product to Cart by ajax
                $.get(url, { id: @Model.Id}, function (data) {
                    $(".ajaxcart").html(data); //(data) -its all we get back from controller(callback)
                }).done(function () {
                    $("span.loader").removeClass("ib"); //loader stop
                    $("span.ajaxmsg").addClass("ib"); //message display
                    setTimeout(function () {
                        $("span.ajaxmsg").fadeOut("fast");  //add animation
                        $("span.ajaxmsg").removeClass("ib"); //remove message
                    }, 1000);
                });
            });


        /*
        * ///////////////////////////////////////////////////
        */

        });
    </script>


}