﻿/*
  *Include styles css
 */

table.sorting tr:not(.home){
    cursor: pointer;
}

.ui-state-highlight{
    border: 1px dashed #ccc;
}

/*
  This style is response for Hide ajax loader gif(when we not use it):
   ajax-text its use in category like a loader(looka at 14 and 15 lines in categories.cshtml
    all in tag ajax-text class is not display!!!(in this case loader)
*/
span.ajax-text{
    display: none;
}

/*
    Style for elements include in: div class="new-cat"> . We adding better margin
*/
div.new-cat{
    margin-top: 30px;
    position: relative;
}


table.sorting.categories td {
    padding: 20px !important;
}

.ajaxdivtd {
    position: absolute;
}

span.loader{
    display:none;
}

span.ajaxmsg{
    display:none;
    color:white;
    background:green;
    padding:10px;
    bottom:0;
    position:absolute;
}

.ajaxcart{
    position:relative;
    top: 5px;
}

.ib{
    display: inline-block !important;
}

.ajaxbg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    display: none;
}

.ajaxbg span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0 );

}

form.paypalform{
    position: absolute;
    left: -2000px;
}