﻿\
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cms - Shop</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", required: false)
    @*<style type="text/css">
        </style>*@

</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>C</b>ms</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Cms - Shop</b></span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">

                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {@*<li>@Html.ActionLink("Administracja", "Index", "Dashboard", new { area = "Admin" }, null) </li>*@ }
                    else
                    {
                        if (ViewBag.Title != "Cart Details")
                        {
        <li> @Html.Action("CartPartial", "Cart") </li>
}
}


                        @*<!-- Messages: style can be found in dropdown.less-->
                            <li class="dropdown messages-menu">
                                <!-- Menu toggle button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="label label-success">4</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 4 messages</li>
                                    <li>
                                        <!-- inner menu: contains the messages -->
                                        <ul class="menu">
                                            <li>
                                                <!-- start message -->
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <!-- User Image -->
                                                        <img src="~/admin-lte/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                    </div>
                                                    <!-- Message title and timestamp -->
                                                    <h4>
                                                        Support Team
                                                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                    </h4>
                                                    <!-- The message -->
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <!-- end message -->
                                        </ul>
                                        <!-- /.menu -->
                                    </li>
                                    <li class="footer"><a href="#">See All Messages</a></li>
                                </ul>
                            </li>
                            <!-- /.messages-menu -->
                            <!-- Notifications Menu -->
                            <li class="dropdown notifications-menu">
                                <!-- Menu toggle button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-warning">10</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 10 notifications</li>
                                    <li>
                                        <!-- Inner Menu: contains the notifications -->
                                        <ul class="menu">
                                            <li>
                                                <!-- start notification -->
                                                <a href="#">
                                                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                </a>
                                            </li>
                                            <!-- end notification -->
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">View all</a></li>
                                </ul>
                            </li>

                            <!-- Tasks Menu -->
                            <li class="dropdown tasks-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-flag-o"></i>
                                    <span class="label label-danger">9</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 9 tasks</li>
                                    <li>
                                        <!-- Inner menu: contains the tasks -->
                                        <ul class="menu">
                                            <li>
                                                <!-- Task item -->
                                                <a href="#">
                                                    <!-- Task title and progress text -->
                                                    <h3>
                                                        Design some buttons
                                                        <small class="pull-right">20%</small>
                                                    </h3>
                                                    <!-- The progress bar -->
                                                    <div class="progress xs">
                                                        <!-- Change the css width attribute to simulate progress -->
                                                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">20% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- end task item -->
                                        </ul>
                                    </li>
                                    <li class="footer">
                                        <a href="#">View all tasks</a>
                                    </li>
                                </ul>
                            </li>*@



                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">


                                @if (Request.IsAuthenticated)
                                {<!-- The user image in the navbar-->
                                       <img src="~/admin-lte/img/user2-160x160N.jpg" class="user-image" alt="User Image"> <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                           <span class="hidden-xs">
                                               @Html.Action("UserNavPartial", "Account", new { area = "" })
                                           </span> 
                                 }
                                  else
                                  { <!-- The user image in the navbar-->
                                       <img src="~/admin-lte/img/user2-160x160.jpg" class="user-image" alt="User Image"> <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                          <span class="hidden-xs">Użytkownik Anonimowy</span>
                                                                      
                                  }

                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">

                                    @if (Request.IsAuthenticated)
                                    {
                                        <img src="~/admin-lte/img/user2-160x160N.jpg" class="img-circle" alt="User Image">
                                        <p>
                                            <span class="hidden-xs">
                                                @Html.Action("UserNavPartial2", "Account", new { area = "" })
                                            </span>
                                            <small> @Html.Action("UserNavPartial3", "Account", new { area = "" })</small>
                                        </p> 
                                     }
                                    else
                                    {
                                        <img src="~/admin-lte/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                        <p>
                                            <span class="hidden-xs">Użytkownik Anonimowy</span>
                                        </p>
                                    }

                                </li>


                                <!-- Menu Body    -->
                                <li class="user-body">
                                    <div class="row">

                                        @if (Request.IsAuthenticated && User.IsInRole("User"))
                                        {
                            <div class="col-xs-6 text-center">
                                <a href="/account/user-profile">Profil</a>
                            </div>
                                            <div class="col-xs-6 text-center">
                                                <a href="/account/orders">Zamówienia</a>
                                            </div>}

                                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                            <div class="col-xs-6 text-center">
                                <a href="/Admin/Dashboard">Administracja</a>
                            </div>
                                            <div class="col-xs-6 text-center">
                                                <a href="/admin/shop/Orders">Zamówienia</a>
                                            </div>}
                                    </div>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    @*<div class="pull-left">
                                            @if (Request.IsAuthenticated && User.IsInRole("User"))
                                            {
                                                if (ViewBag.Title == "User Profile" || ViewBag.Title == "Orders")
                                                {
                                                    @Html.Action("UserNavPartial", "Account", new { area = "" })
                                                }
                                                else
                                                {
                                                    @Html.Action("UserNavPartial", "Account", new { area = "" })
                                                }
                                            }
                                        </div>*@

                                    <div class="pull-right">

                                        @if (Request.IsAuthenticated)
                                        {
                            <a href="/account/logout" class="btn btn-default btn-flat">Logout</a> }
                        else
                        {
                            if (ViewBag.Title == "Logowanie")
                            {
            <a href="/account/login" class="btn btn-default btn-flat">Logowanie</a> }
        else
        {
<a href="/account/login" class="btn btn-default btn-flat">Logowanie</a>}
}

                                    </div>
                                </li>
                            </ul>
                    </ul>

                    <!-- Control Sidebar Toggle Button -->
                    @*<ul class="nav navbar-nav">
                            <li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>
                        </ul>*@
                </div>
            </nav>
        </header>


        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">

                        @if (Request.IsAuthenticated)
                        {
            <img src="~/admin-lte/img/user2-160x160N.jpg" class="img-circle" alt="User Image"> }
        else
        {
<img src="~/admin-lte/img/user2-160x160.jpg" class="img-circle" alt="User Image">}
                    </div>
                    <div class="pull-left info">
                        <p>
                            @if (Request.IsAuthenticated)
                            {
                <span class="hidden-xs">
                    @Html.Action("UserNavPartial2", "Account", new { area = "" })
                </span> }
            else
            {
<span class="hidden-xs">Użytkownik Anonimowy</span>}
                        </p>
                        <!-- Status -->
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>


                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Szukaj...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">

                    <li class="header">MENU GŁÓWNE</li>
                    @Html.Action("PagesMenuPartial", "Pages");

                    @if (ViewBag.Title != "Utwórz konto" &&
                         ViewBag.Title != "Logowanie" &&
                         ViewBag.Title != "Profil uzytkownika" &&
                         ViewBag.Title != "Zamowienia"
                    )
                    {
        <li class="header">SKLEP</li>
                        @Html.Action("CategoryMenuPartial", "Shop")}

                    @if (ViewBag.Title == "Profil uzytkownika")
                    {
        <li class="header">PANEL UŻYTKOWNIKA</li>
                        <li><a href="/account/orders"><i class="fa fa-dashboard"></i>Moje Zamówienia</a></li>
}

                    @if (ViewBag.Title == "Zamowienia")
                    {
        <li class="header">PANEL UŻYTKOWNIKA</li>
                        <li><a href="/account/user-profile"><i class="fa fa-dashboard"></i>Mój Profil</a></li>
}

                </ul>
                <!-- /.sidebar-menu -->

            </section>
            <!-- /.sidebar -->
        </aside>


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            @*<section class="content-header">
                    <h1>
                        Page Header
                        <small>Optional description</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                        <li class="active">Here</li>
                    </ol>
                </section>*@

            <!-- Main content -->
            <section class="content container-fluid">

                <!--------------------------
                | Your Page Content Here |
                -------------------------->

                <div class="row">
                    <div class="ajaxbg"><span><img src="~/Content/img/ajax-loader.gif" /></span></div>


                    @if (ViewBag.Sidebar == "Yes")
                    {
        <div class="col-xs-12 col-md-9">
            @RenderBody()
        </div>
                        <div class="col-xs-12 col-md-3">
                            @Html.Action("SidebarPartial", "Pages")
                        </div> }
                    else
                    {
        <div class="col-xs-12 col-md-12">
            @RenderBody()
        </div>}

                </div>
                <hr />

            </section>
            <!-- /.content -->

        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">

            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Nasza nowa strona
            </div>

            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Cms - Shop</a>.</strong>

        </footer>


        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">

            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="pull-right-container">
                                        <span class="label label-danger pull-right">70%</span>
                                    </span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>

        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed


        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/admin-lte/js")
    @RenderSection("scripts", required: false)
</body>
</html>